@model iPERMIT_Group_5.Models.RE

@{
    ViewBag.Title = "Register as Regulated Entity";
}

<h2>Register New RE Account</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">Organization Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.organizationName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Contact Person Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.contactPersonName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Email (Username)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Password</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { @class = "form-control" })
                <small class="text-muted">(will be stored as plain text for this project)</small>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Confirm Password</label>
            <div class="col-md-10">
                <input type="password" name="confirmPassword" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Organization Address</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.organizationAddress, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-success" />
                <a href="/Home/Index" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </div>
}